@import url('https://fonts.googleapis.com/css?family=Kurale');
h1 a {
        font-family: 'Kurale', serif;
    }

body {
        padding-left: 1%;
        padding-right: 1%;
        font-family: 'Kurale', serif;
    }
.padding {
    padding-left: 1%;
    padding-right: 50%;
}
.small_tips {
    padding-right: 80%;
}