
body {
        padding-left: 1%;
        padding-right: 1%;
    }
.padding {
    padding-left: 1%;
    padding-right: 1%;
}
.small_tips {
    padding-right: 80%;
}

.login_register {
    padding-top: 5%;
}

.padding_top {
    padding-top: 5%;
}
.div_inline_block {
    display: inline-block;
}
