<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
<html>
<head>
    {{ form.media }}
    {% block title %}Search{% endblock %}

</head>
<body>

    {% block content %}
    <div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" action="{% url 'advanced_search' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Advanced search</legend>
                        {% if user.profile.isMedicalPersonal %}
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Patient name</label>
                            <div class="col-lg-10">
                                {{ form.Name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Patient ID</label>
                            <div class="col-lg-10">
                                {{ form.PatientID }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Birthdate</label>
                            <div class="row">
                                <div class="col-lg-4">
                                    <strong> from </strong> {{ form.BirthDateMin }}
                                </div>
                                <div class="col-lg-4">
                                    <strong> to </strong> {{ form.BirthDateMax }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sex</label>
                            <div class="col-lg-3">
                                {{ form.Sex }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Series date</label>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <strong> from </strong> {{ form.SeriesDateMin }}
                                    </div>
                                    <div class="col-lg-4">
                                        <strong> to </strong> {{ form.SeriesDateMax }}
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-10">
                                {{ form.SeriesDescription }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Body part</label>
                            <div class="col-lg-10">
                                {{ form.BodyPartExamined }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Institution Name</label>
                            <div class="col-lg-10">
                                {{ form.InstitutionName }}
                            </div>
                        </div>




                        <div class="form-group">
                          <label class="col-lg-2 control-label">Modalities</label>
                          <div class="col-lg-10">
                              <div class="row">
                                    <!-- modalities_list = ['CR', 'CT', 'DX', 'ECG', 'ES', 'IO', 'MG', 'MR', 'NM', 'OP', 'OT', 'PT', 'PX', 'RF', 'RG', 'SC', 'SR', 'US', 'VL', 'XA', 'XC'] -->
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                         <label>
                                          {{ form.AllModalities }} All
                                         </label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.CR }} CR
                                        </label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.CT }} CT
                                        </label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.DX }} DX
                                        </label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.ECG }} ECG
                                        </label>
                                      </div>
                                  </div>
                                  <!-- modalities_list = ['CR', 'CT', 'DX', 'ECG', 'ES', 'IO', 'MG', 'MR', 'NM',||| 'OP', 'OT', 'PT', 'PX', 'RF', 'RG', 'SC', 'SR', 'US', 'VL', ||| 'XA', 'XC'] -->
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.ES }} ES
                                        </label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.IO }} IO
                                        </label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.MG }} MG
                                        </label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.MR }} MR
                                        </label>
                                      </div>
                                  </div>
                                  <div class="col-md-1">
                                      <div class="checkbox">
                                        <label>
                                        {{ form.NM }} NM
                                        </label>
                                      </div>
                                  </div>
                              </div>

                                  <div class="row">
                                    <!-- modalities_list = ['CR', 'CT', 'DX', 'ECG', 'ES', 'IO', 'MG', 'MR', 'NM', 'OP', 'OT', 'PT', 'PX', 'RF', 'RG', 'SC', 'SR', 'US', 'VL', 'XA', 'XC'] -->
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                             <label>
                                              {{ form.OP }} OP
                                             </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.OT }} OT
                                            </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.PT }} PT
                                            </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.PX }} PX
                                            </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.RF }} RF
                                            </label>
                                          </div>
                                      </div>
                                      <!-- modalities_list = ['CR', 'CT', 'DX', 'ECG', 'ES', 'IO', 'MG', 'MR', 'NM',||| 'OP', 'OT', 'PT', 'PX', 'RF', 'RG', 'SC', 'SR', 'US', 'VL', ||| 'XA', 'XC'] -->
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.RG }} RG
                                            </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.SC }} SC
                                            </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.SR }} SR
                                            </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.US }} US
                                            </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.VL }} VL
                                            </label>
                                          </div>
                                      </div>
                                </div>
                              <div class="row">
                                    <!-- modalities_list = ['CR', 'CT', 'DX', 'ECG', 'ES', 'IO', 'MG', 'MR', 'NM', 'OP', 'OT', 'PT', 'PX', 'RF', 'RG', 'SC', 'SR', 'US', 'VL', 'XA', 'XC'] -->
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                             <label>
                                              {{ form.XA }} XA
                                             </label>
                                          </div>
                                      </div>
                                      <div class="col-md-1">
                                          <div class="checkbox">
                                            <label>
                                            {{ form.XC }} XC
                                            </label>
                                          </div>
                                      </div>
                                </div>
                              </div>
                          </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>

    {% if series %}
    <form action="/get_zip/" method="POST" id="multiple_zip">
        {% csrf_token %}
        </form>
        <table class="table table-striped table-hover" id="results">
            <thead>
                <tr>
                    <th>#</th>
                    <th> Patient's Name </th>
                    <th> ID </th>
                    <th> Age </th>
                    <th> Sex </th>
                    <th> Series date </th>
                    <th> Modality </th>
                    <th> Description </th>
                    <th> Body part </th>
                    <th> Institution name </th>
                    <th> Download </th>
                </tr>
            </thead>
            <tbody>
            {% for serie in series %}
                <tr> <!--onclick="window.location.href='/series/{{ serie.SeriesInstanceUID }}/'; return false" -->
                    <td> <input type="checkbox" name="dict" value="{{serie.id}}" form="multiple_zip"> {{serie.id}} </td>
                    <td>{{ serie.Study.Patient.Name }}</td>
                    <td>{{ serie.Study.Patient.PatientID }}</td>
                    <td>{{ serie.Study.Patient.Age }} </td>
                    <td>{{ serie.Study.Patient.Sex }} </td>
                    <td>{{ serie.Series.Date }} </td>
                    <td>{{ serie.Modality }} </td>
                    <td>{{ serie.SeriesDescription }} </td>
                    <td>{{ serie.BodyPartExamined }} </td>
                    <td>{{ serie.Study.InstitutionName }} </td>
                    <td>
                        <form action="/get_zip/" method="GET" class="div_inline_block">
                            <input type="hidden" value="{{ serie.id }}" name="id">
                            <button class="btn btn-link" type="submit" > <i class="fa fa-file-archive-o" aria-hidden="true"> zip </i> </button>
                        </form>
                        <a href='/series/{{ serie.SeriesInstanceUID }}/' class="btn btn-link" >more details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if series.has_previous %}
                    <a href="?page={{ series.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ series.number }} of {{ series.paginator.num_pages }}.
                </span>

                {% if series.has_next %}
                    <a href="?page={{ series.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        <br>
        <button class="btn btn-default" type="submit" form="multiple_zip"> download zip <i class="fa fa-file-archive-o" aria-hidden="true"> </i> </button>

    {% endif %}
    <br>
{% endblock %}
</body>
</html>