<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href={% static 'css/Readable.css' %}>
    <link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'css/personal.css' %}>
    <link rel="stylesheet" href={% static 'font-awesome/css/font-awesome.min.css' %}>
</head>
<body>
    {% block content %}
    <div class="login_register">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="panel panel-default" align="middle">
                    <div class="panel-body">
                        <form action="" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <legend> Авторизация</legend>
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</button>
                        </form><hr>
                        <a href="/accounts/register/"> Don't have an account? </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>